<%- include("header.ejs"); %>

<section id="features">
  <div class="shorten">
    <form action="/" method="post">
      <input type="text" name="link" value="" placeholder="Shorten a link here...">
      <button type="submit" name="button">Shorten It!</button>
    </form>
    <small><%= error %></small>
  </div>
  <% links.forEach(function(elem) {  %>
    <div class="link-view">
      <span class="input-link"> <%= elem.original_link %> </span>
      <a class="copy-link" href="<%= elem.full_short_link %>" target="_blank" ><%= elem.full_short_link %></a>
      <button class="copy-button" type="button" name="button">Copy</button>
    </div>
  <% }); %>
  <h2>Advanced Statistics</h2>
  <p>Track how your links are performing across the web with our
  advanced statistics dashboard.</p>
  <hr>
  <div class="features-box">
    <div class="feature">
      <img src="images/icon-brand-recognition.svg" alt="icon-brand-recognition.svg">
      <h3>Brand Recognition</h3>
      <p>Boost your brand recognition with each click. Generic links don’t
      mean a thing. Branded links help instil confidence in your content.</p>
    </div>
    <div class="feature">
      <img src="images/icon-detailed-records.svg" alt="icon-detailed-records.svg">
      <h3>Detailed Records</h3>
      <p>Gain insights into who is clicking your links. Knowing when and where
      people engage with your content helps inform better decisions.</p>
    </div>
    <div class="feature">
      <img src="images/icon-fully-customizable.svg" alt="icon-fully-customizable.svg">
      <h3>Fully Customizable</h3>
      <p>Improve brand awareness and content discoverability through customizable
      links, supercharging audience engagement.</p>
    </div>
  </div>
</section>

<%- include("footer.ejs"); %>
